body {background-color: rgb(29, 24, 24);
      color: beige;
      font-size: 16.5px;
      font-family: sans-serif;
      }

header {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  border: 1px solid grey
}

.icons {
  border: 1px solid grey;
}

h1 {color: white;
    font-family: monospace;
    text-align: center;
}

.ingredientes {color: #FFF176;
}

/*.justify { text-align: justify;
}*/

p { line-height: 1.2rem;

}

.title { text-decoration: underline;
}

.icon-phone {
    font-size: 40px;
    color: beige;
}

#naveg ul li{
  list-style: none;
  display: inline-block;
  color: white;
  text-decoration: none;
  }

#naveg ul li:hover{
  background-color:#455A64;
      color: black;
}

#naveg {
  background-color: #212121
}

.mark:hover{
  background-color:#455A64;
   color: black;
}

.mark {
  color: beige;
}

a { font-style: italic;
    font-weight: bold;
}
/* ICONO DE WHATSAPP A LA DERECHA, FLOTANTE -
.icon-whatsapp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
}

.icon-whatsapp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}*/

.icon-up {
  font-size: 40px;
  color: grey;
}

.icon-facebook {
  color: blue;
  font-size: 40px;
}

.icon-instagram {
  color: white;
  font-size: 40px;
}

.icon-whatsapp {
  color: #2ECC71;
  font-size: 40px;
}

.icon-youtube {
  color:red;
  font-size: 40px;
}

.icon-back {
  color: beige;
  font-size: 40px;
}

aside {
    width: 30%;
  }

section {
  width: 70%;
}

main {
  display: flex;
  justify-content: center;
}

footer{
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  border: 1px solid grey;
}

/*.mapa {
  width: 25%;
  }

.foot {
  width: 25%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copy {
  width: 25%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}*/
